.firstperson{
    padding-left: 50%;
    background-color: #dfffe5;
}
.secondperson{
    padding-right: 50%;
    background-color: #89dee7;
}

#wrapper{
    width: 90%;
    max-width: 1700px;
}
#chat-box, #users{
    overflow:scroll;
    height: 80vh;
}
#logout{
    background: none;
    border-width: 0;
}
.user{
    height:40px;
    padding-left: 1rem;
}
